@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html {
        font-family: 'Noto Kufi Arabic', sans-serif;
    }

    .font-family-aref {
        font-family: 'Aref Ruqaa', serif;
    }

    .bg-select {
        background-position: calc(0% + 20px) calc(1px + 50%), calc(0% + 16px) calc(1px + 50%) !important;
    }

    #toasts {
        @apply justify-end items-center dark:text-slate-50 !important
    }

    .avatar-contain img {
        object-fit: contain !important;
    }


    .divider::after , .divider::before {
        @apply dark:bg-slate-300 !important;
    }

    
}

@layer components {
    .row{
        @apply flex   justify-start  items-start flex-col md:flex-row md:justify-around py-2 flex-wrap 
    }
    .input{
        @apply bg-slate-200 dark:bg-slate-400 dark:placeholder:text-slate-500 w-full ;
    }
    .select { 
        @apply bg-slate-200 dark:bg-slate-400 dark:placeholder:text-slate-500 ;
    }
    .form-control{
        @apply  w-full md:w-fit;
    } 
}

@layer utilities {}